<div class="form-group col-md-12">
  <label class="col-md-4 control-label text-primary" for="searchfield"><%= suggest.name %></label>
  <div class="col-md-5">
    <b><%= suggest.description %></b>
  </div>
  <div class="col-md-3">
    <%= created_at_format suggest.created_at %>
  </div>
</div>
