<div class="item">
  <%= image_tag top_order_product.picture.thumb.url, alt: top_order_product.picture %>
  <div class="carousel-caption">
    <h3><%= top_order_product.name %></h3>
    <%= link_to t("product.see_detail"), top_order_product %>
  </div>
</div>
