@import 'bootstrap-sprockets';
@import 'bootstrap';

section {
  overflow: auto;
}
.btn{
  margin-top: 10px;
}
textarea {
  resize: vertical;
}
.navbar-inverse .nav .sig_to {
  float: left;
}
.center {
  text-align: center;
}
.center h1 {
  margin-bottom: 10px;
}.logo {
  float: left;
  margin-right: 10px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: bold;
}
.logo:hover {
  color: #fff;
  text-decoration: none;
}
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}
footer a {
  color: #555;
}
footer a:hover {
  color: #222;
}
footer small {
  float: left;
}
footer ul {
  float: right;
  list-style: none;
}
footer ul li {
  float: left;
  margin-left: 15px;
}
.mainmenu-area {
  background: none repeat scroll 0 0 #ff6600;
  font-family: "Roboto Condensed",sans-serif;
  text-transform: uppercase;
  width: 100%;
  z-index: 999;
}
.mainmenu-area ul.navbar-nav li a {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  padding: 20px;
}
.mainmenu-area ul.navbar-nav li:hover a, .mainmenu-area ul.navbar-nav li.active a {background: 222}
.mainmenu-area .nav > li > a:focus {color: #000}

/*product detail*/
.product-name {
  padding-top: 10px;
}
.category {
  padding-bottom: 20px;
}
.product-price {
  padding-bottom: 20px;
  color: red;
}
