@import 'bootstrap-sprockets';
@import 'bootstrap';

$light-gray: #777;
$davy-gray: #555;
$light-white: #fff;
$black-gray: #222;
$e-gray: #eaeaea;
$red-green: #ff6600;
$blu-green: #484848;
section {
  overflow: auto;
}
.btn{
  margin-top: 10px;
}
textarea {
  resize: vertical;
}
.navbar-inverse .nav .sig_to {
  float: left;
}
.center {
  text-align: center;
}
.center h1 {
  margin-bottom: 10px;
}.logo {
  float: left;
  margin-right: 10px;
  color: $light-white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: bold;
}
.logo:hover {
  color: $light-white;
  text-decoration: none;
}
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $e-gray;
  color: $light-gray;
}
footer a {
  color: $davy-gray;
}
footer a:hover {
  color: $black-gray;
}
footer small {
  float: left;
}
footer ul {
  float: right;
  list-style: none;
}
footer ul li {
  float: left;
  margin-left: 15px;
}
.mainmenu-area {
  background: none repeat scroll 0 0 $red-green;
  font-family: "Roboto Condensed",sans-serif;
  text-transform: uppercase;
  width: 100%;
  z-index: 999;
}
.mainmenu-area ul.navbar-nav .right_to{
  width: 160px;
}
.mainmenu-area ul.navbar-nav .right_to ul li a{
  color: black;
}
.mainmenu-area ul.navbar-nav li a {
  text-align: center;
  color: $blu-green;
  font-size: 14px;
  font-weight: 700;
  padding: 20px;
}
.mainmenu-area ul.navbar-nav li:hover a, .mainmenu-area ul.navbar-nav li.active a {background: 222}
.mainmenu-area .nav > li > a:focus {color: black}
.categories .dropdown-toggle.categories{
  padding-top: 25px;
  font-size: 14px;
}

/*product detail*/
.product-name {
  padding-top: 10px;
}
.category {
  padding-bottom: 20px;
}
.product-price {
  padding-bottom: 20px;
  color: red;
}
.hidden {
  display: none;
}

/* create category form */
.category-select {
  margin-bottom: 10px;
}
.btn-create {
  margin-top: 10px;
  padding-top: 10px;
}

/* error form */
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* link list category */
.return-list-category {
  margin-top: 80px;
  padding-top: 40px;
}

/* slide */
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  width: 1200px;
  display: block;
  height: 300px;
  line-height: 1;
}

/*order*/
.img_title_order{
  width: 71px;
  border-radius: 43px;
}
.text-danger strong {
   color: #9f181c;
}
.receipt-main {
  margin-bottom: 50px;
  padding: 30px 30px !important;
  position: relative;
  box-shadow: 0 1px 21px #acacac;
  color: #333333;
  font-family: open sans;
}
.receipt-main p {
  color: #333333;
  font-family: open sans;
  line-height: 1.42857;
}
.receipt-footer h1 {
  font-size: 15px;
  font-weight: 400 !important;
  margin: 0 !important;
}
.receipt-main thead {
  background: #414143 none repeat scroll 0 0;
}
.receipt-main thead th {
  color:#fff;
}
.receipt-right h5 {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 7px 0;
}
.receipt-main td {
  padding: 9px 20px !important;
}
.receipt-main th {
  padding: 13px 20px !important;
}
.receipt-main td {
  font-size: 13px;
  font-weight: initial !important;
}
.receipt-main td p:last-child {
  margin: 0;
  padding: 0;
}
.receipt-main td h2 {
  font-size: 20px;
  font-weight: 900;
  margin: 0;
  text-transform: uppercase;
}
.receipt-header-mid .receipt-left h1 {
  font-weight: 100;
  margin: 34px 0 0;
  text-align: right;
  text-transform: uppercase;
}
.receipt-header-mid {
  margin: 24px 0;
  overflow: hidden;
}
.show-detail-order {
  margin-top: 80px;
}

/* show product home */
.col-item {
  border: 1px solid #E1E1E1;
  background: #FFF;
  margin-bottom:12px;
}
.col-item .options {
  position:absolute;
  top:6px;
  right:22px;
}
.col-item .photo {
  overflow: hidden;
}
.col-item .photo .options {
  display:none;
}
.col-item .photo img {
  margin: 0 auto;
  width: 100%;
}
.col-item .options-cart {
  position:absolute;
  left:22px;
  top:6px;
  display:none;
}
.col-item .photo:hover .options,
.col-item .photo:hover .options-cart {
  display:block;
  -webkit-animation: fadeIn .5s ease;
  -moz-animation: fadeIn .5s ease;
  -ms-animation: fadeIn .5s ease;
  -o-animation: fadeIn .5s ease;
  animation: fadeIn .5s ease;
}
.col-item .options-cart-round {
  position:absolute;
  left:42%;
  top:22%;
  display:none;
}
.col-item .options-cart-round button {
  border-radius: 50%;
  padding:14px 16px;

}
.col-item .options-cart-round button .fa {
  font-size:22px;
}
.col-item .photo:hover .options-cart-round {
  display:block;
  -webkit-animation: fadeInDown .5s ease;
  -moz-animation: fadeInDown .5s ease;
  -ms-animation: fadeInDown .5s ease;
  -o-animation: fadeInDown .5s ease;
  animation: fadeInDown .5s ease;
}
.col-item .info {
  padding: 10px;
  margin-top: 1px;
}
.col-item .price-details {
  width: 100%;
  margin-top: 5px;
}
.col-item .price-details h1 {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  float:left;
}
.col-item .price-details .details {
  margin-bottom: 0px;
  font-size:12px;
}
.col-item .price-details span {
  float:right;
}
.col-item .price-details .price-new {
  font-size:16px;
}
.col-item .price-details .price-old {
  font-size:18px;
  text-decoration:line-through;
}
.col-item .separator {
  border-top: 1px solid #E1E1E1;
}
.col-item .clear-left {
  clear: left;
}
.col-item .separator a {
  text-decoration:none;
}
.col-item .separator p {
  margin-bottom: 0;
  margin-top: 6px;
  text-align: center;
}
.col-item .separator p i {
  margin-right: 5px;
}
.col-item .btn-add {
  width: 60%;
  float: left;
}
.col-item .btn-add a {
  display:inline-block !important;
}
.col-item .btn-add {
  border-right: 1px solid #E1E1E1;
}
.col-item .btn-details {
  width: 40%;
  float: left;
  padding-left: 10px;
}
.col-item .btn-details a {
  display:inline-block !important;
}
.col-item .btn-details a:first-child {
  margin-right:12px;
}
.col-item .price-details .product_home {
  height: 80px;
}
.col-item .price-details .product_home p {
  text-align: center;
}

/* custom product_recent */
img{max-width:100%;}
  *{transition: all .5s ease;-moz-transition: all .5s ease;-webkit-transition: all .5s ease}
.my-list {
    width: 100%;
    padding: 10px;
    border: 1px solid #f5efef;
    float: left;
    margin: 15px 0;
    border-radius: 5px;
    box-shadow: 2px 3px 0px #e4d8d8;
    position:relative;
    overflow:hidden;
}
.my-list .product_top_img{
  width: 100%;
  height: 240px;
  border-bottom: 1px solid #ccc4c4;
  margin-bottom: 5px;
  padding-bottom: 5px;
}
.my-list .product_top {
  width: auto;
  height: 50px;
  padding-top: 18px;
}
.my-list h3{
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    margin: 0px;
    padding: 0px;
    }
  .my-list span{float:left;font-weight: bold;}
  .my-list span:last-child{float:right;}
  .my-list .offer{
    width: 100%;
    float: left;
    margin: 5px 0;
    border-top: 1px solid #ccc4c4;
    margin-top: 5px;
    padding-top: 5px;
    color: #afadad;
    }
  .detail {
    position: absolute;
    top: -107%;
    left: 0;
    text-align: center;
    background: #fff;height: 100%;width:100%;

}
.my-list:hover .detail{top:0;}
.pagination{
  margin: 20px 180px;
}
.my-list{
  height: 300px;
}
.my-list h3{
  text-align: center;
  margin-top: 10px;
}
div .media-body{
  padding-top: 10px;
  padding-left: 20px;
}
input.form-control.text-center{
  margin: 30px auto;
}
td.col-sm-1.col-md-1.text-center{
  padding-top: 47px;
}
td.col-sm-1.col-md-1.button{
  padding-top: 30px;
}
div.row.view_cart{
  padding-top: 10px;
}

/*menu lever*/
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color: $light-white;
}
.child {
  margin: 0px 0px 5px 10px;
}

/* search product*/
.search-form {
  padding-top:10px;
  padding-bottom: 20px;
}
.form-control.search-name-width{
  padding-top:10px;
  margin-top: 15px;
  width: 30%;
}
.form-control.search-min-width{
  padding-top:10px;
  width: 25%;
}
.form-control.search-max-width{
  padding-top:10px;
  width: 25%;
}
.form-control.search-category-width{
  padding-top:10px;
  width: 20%;
}
.search-button {
  margin-top: 15px;
}
.dropdown-menu li{
  list-style: none;
}

/*title product home */
.title_home h2{
  background-color: $red-green;
}
