@import 'bootstrap-sprockets';
@import 'bootstrap';

$light-gray: #777;
$davy-gray: #555;
$light-white: #fff;
$black-gray: #222;
$e-gray: #eaeaea;
$red-green: #ff6600;
$blu-green: #484848;
section {
  overflow: auto;
}
.btn{
  margin-top: 10px;
}
textarea {
  resize: vertical;
}
.navbar-inverse .nav .sig_to {
  float: left;
}
.center {
  text-align: center;
}
.center h1 {
  margin-bottom: 10px;
}.logo {
  float: left;
  margin-right: 10px;
  color: $light-white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: bold;
}
.logo:hover {
  color: $light-white;
  text-decoration: none;
}
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $e-gray;
  color: $light-gray;
}
footer a {
  color: $davy-gray;
}
footer a:hover {
  color: $black-gray;
}
footer small {
  float: left;
}
footer ul {
  float: right;
  list-style: none;
}
footer ul li {
  float: left;
  margin-left: 15px;
}
.mainmenu-area {
  background: none repeat scroll 0 0 $red-green;
  font-family: "Roboto Condensed",sans-serif;
  text-transform: uppercase;
  width: 100%;
  z-index: 999;
}
.mainmenu-area ul.navbar-nav .right_to{
  width: 160px;
}
.mainmenu-area ul.navbar-nav .right_to ul li a{
  color: black;
}
.mainmenu-area ul.navbar-nav li a {
  text-align: center;
  color: $blu-green;
  font-size: 14px;
  font-weight: 700;
  padding: 20px;
}
.mainmenu-area ul.navbar-nav li:hover a, .mainmenu-area ul.navbar-nav li.active a {background: 222}
.mainmenu-area .nav > li > a:focus {color: black}

/*product detail*/
.product-name {
  padding-top: 10px;
}
.category {
  padding-bottom: 20px;
}
.product-price {
  padding-bottom: 20px;
  color: red;
}
.hidden {
  display: none;
}

/* create category form */
.category-select {
  margin-bottom: 10px;
}
.btn-create {
  margin-top: 10px;
  padding-top: 10px;
}

/* error form */
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* link list category */
.return-list-category {
  margin-top: 80px;
  padding-top: 40px;
}
